body, html {
    height: 100%;
}

.hero-banner{
    background-image: url("img/background.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display:grid;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-gap: 1px 1px;
    grid-template-areas: ". . ." ". asset ." ". . .";
}

.asset { 
    grid-area: asset;
    background-color: white; }

